doctype html
html(lang="en")
  head
    //- Required meta tags
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- Skipped for now: Favicon, via https://realfavicongenerator.net/
    //- <link rel="shortcut icon" href="/favicon.ico">

    title vector-network-playground

    //- https://www.bootstrapcdn.com/
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")

    //- Build our stylesheet
    link(rel="stylesheet", href="css/main.scss")
  body
    //- TODO: Relocate to initial modal prompt so we can have 100% full screen experience
    h1 vector-network-playground
    p Playground for exploring for SVG-like vector networks, as built in Figma

    //- TODO: Automatically resize canvas to full-size on browser resize
    canvas#canvas

    //- Run our main JS after all content loaded
    script(src="js/main.js")
